*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
html{
  overflow-y: hidden;
}

.score1{
  position: fixed;
  left:40%;
  font-family: 'Anton', sans-serif;
  color: #FE6161;
  font-size: 100px;
  z-index: 20;
}

.score2{
  position: fixed;
  left: 56.5%;
  font-family: 'Anton', sans-serif;
  color: #6161fe;
  font-size: 100px;
  z-index: 20;
}

#sketch{
  position: fixed;
}
